!!!
%html
  %head
    %title Seed
    %link{:rel => 'shortcut icon', :href => 'Shamrock.png'}
  %body
    - coins.each do |coinid,coin|
      %h1= coinid
      - bt = CONFIG[coinid][:bootstrap]
      - if bt
        %a{:href => bt} Download bootstrap.dat (BitTorrent)
      %p DNS Seed: #{AMAZON[:coins][coinid]}.#{AMAZON[:name].chop}
      %p Height: #{coin[:height]}
      - p coin[:height]
      %textarea{:cols=>24, :rows=>8}
        - text = coin[:hosts].map{|host, v| "addnode=#{host[0]}"}
        = preserve(text.join("\n"))
      %textarea{:cols=>24, :rows=>8}
        - text = coin[:hosts].map{|host, v| ipv4tohex(host[0])}
        = preserve(text.join(",\n"))
